<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Teufelsrochen Guestbook</title>
    </head>
    <body>
        <h1>Welcome to Teufelsrochen Guestbook!</h1>

        <form action="/add-guestbook-entry" method="POST">
            <input name="name" type="text" placeholder="your name" required />
            <input
                name="email"
                type="email"
                placeholder="your e-mail adress"
                required
            />
            <input
                name="messageText"
                type="text"
                placeholder="your message"
                required
            />
            <input type="submit" value="add comment" />
        </form>

        <h1>Guestbook:</h1>
        <ul>
            <% guestbookEntries.forEach((message) => { %>
            <li class="message">
                <b
                    ><%= message.name %> (<%= message.email %>) - <%=
                    message.postedAt.toLocaleString() %></b
                >
                <p><%= message.messageText %></p>
            </li>
            <% }) %>
        </ul>
    </body>
</html>
